<div>
    <div ng-if="!rule.isEdited" class="slider" >
        <div class="edit-rule"><a href ng-click="editRule(rule)">edit</a></div>
        <span class="rw" ng-if="rule.access == 'rw'">Read/Write</span>
        <span class="ro" ng-if="rule.access == 'ro'">Read-Only</span>
        when context
        <span class="action">{{ ctxMatches[rule.match] | lowercase }}</span>

        <div class="row" ng-repeat="score in repoContext.depthScores">
            <div class="col-xs-3 no-mp-r ctx-lbl text-right">{{ repoContext.depths[score].label }}:</div>
            <div class="col-xs-9 ">
                <label ng-if="rule.context[score]"
                       class="context-element-multi-item"
                       ng-class="{'last':$last}"
                       ng-repeat="ci in rule.context[score]">{{ ci }}</label>
                <span ng-if="!rule.context[score]" class="context-wildcard"></span>
            </div>
        </div>
    </div>
    <div ng-if="rule.isEdited" class="slider">
        <ng-include src="'/repo/team/ruleForm.tpl.html'"></ng-include>
    </div>
</div>