<span class="inline-editor">
    <ul class="list-inline form-elements">
    <li><input type="text"
               ng-model="$parent.directory.f.name"
               ng-trim="false"
               autofocus="true"
               spellcheck="false"
               class="form-control directory-name input-sm"></li>
    <li><button class="btn btn-success btn-sm"
                ng-click="renameDir()">Rename</button></li>
    <li><button class="btn btn-default btn-sm"
                ng-click="disableDirectoryEditor()">Cancel</button></li>
    </ul>

    <button type="button"
                tabindex="5"
                data-placement="bottom-right"
                class="btn btn-danger btn-sm delete-right dropdown-toggle" bs-dropdown aria-expanded="false">
        <i class="fa fa-trash"></i>
        <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu delete" role="menu">
        <li><a ng-click="deleteDirectory()" style="white-space:normal">Delete this folder, including all files and sub-folders contained within.</a></li>
    </ul>

    <div ng-if="errorMessage" class="error-message slider" role="alert">
        {{ errorMessage }}
    </div>

</span>
