<div class="modal" tabindex="-1" role="dialog">
    <form>
        <div class="modal-dialog narrow-modal">
            <div class="modal-content">

                <div class="modal-header fyi">
                    <button type="button" class="big-close" ng-click="$hide()">&times;</button>
                    <span class="modal-title">
                    <strong>Heads up!</strong>
                </span>
                </div>

                <div class="modal-body">
                    <div class="form-group fyi">
                        There

                        <ng-pluralize count="refs"
                                      when="{ '1':     'is 1 property value',
                                              'other': 'are {{ refs }} property values'}"></ng-pluralize>
                        that point to this path/filename.
                        If you delete this file, these values will remain as they are now, but resolving them will
                        just return a blank value.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="$hide();deleteAnyway()">Delete anyway</button>
                    <button type="button" class="btn btn-default" ng-click="$hide();doNothing()">Do not delete</button>
                </div>

            </div>
        </div>
    </form>
</div>