<div class="modal" tabindex="-1" role="dialog">
    <form>
        <div class="modal-dialog narrow-modal">
            <div class="modal-content">

                <div class="modal-header fyi">
                    <button type="button" class="big-close" ng-click="$hide()">&times;</button>
                    <span class="modal-title">
                    <strong>Heads up!</strong>
                </span>
                </div>

                <div class="modal-body">
                    <div class="form-group fyi">
                        You've made changes.<br>
                        What do you want to do?
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="$hide();saveAndExit()">Save changes</button>
                    <button type="button" class="btn btn-default" ng-click="$hide();ignoreChanges()">Or, Ignore them</button>
                </div>

            </div>
        </div>
    </form>
</div>