<!--securityGroupPasswordOverride.tpl.html-->

<div class="modal" tabindex="-1" role="dialog">
    <form ng-submit="updatePassword(currentPassword, newPassword1, newPassword2, ownerPass, $hide)">
        <div class="modal-dialog narrow-modal">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="big-close" ng-click="$hide()">&times;</button>
                    <span class="modal-title">
                        <strong>Security Group Password</strong>
                    </span>
                </div>

                <div class="alert alert-danger" role="alert" ng-if="decodeMessage">
                    {{ decodeMessage }}
                </div>

                <div class="modal-body">

                    <div class="form-group slider" ng-show="withOldPass">
                        <div class="form-field-head">Current Password</div>
                        <input type="password"
                               id="currentPassword"
                               autofocus="autofocus"
                               class="msd-elastic secret password-field form-control"
                               ng-model="currentPassword">
                        <div class="forgot-sc-password" ng-if="isPrivAccount">
                            Lost password?  Use
                            <a ng-click="$parent.withOldPass = false; ; focus('ownerPass')">your account password</a> instead.
                        </div>
                        <div class="forgot-sc-password" ng-if="!isPrivAccount">
                            Lost password?  Repository owner(s) can change lost passwords.
                        </div>
                    </div>

                    <div class="form-group slider" ng-show="!withOldPass">
                        <div class="form-field-head">Your account password</div>
                        <input type="password"
                               id="ownerPass"
                               autofocus="autofocus"
                               class="msd-elastic secret password-field form-control"
                               ng-model="ownerPass">
                        <div class="forgot-sc-password" ng-if="isPrivAccount">
                            Use <a ng-click="$parent.withOldPass = true; focus('currentPassword')">current security group password</a> instead.
                        </div>
                    </div>

                    <div class="section-separator"></div>

                    <div class="form-group">
                        <div class="form-field-head">New Password</div>
                        <input type="password"
                               class="msd-elastic secret password-field form-control"
                               ng-model="newPassword1">
                    </div>


                    <div class="form-group">
                        <div class="form-field-head">Re-enter new password</div>
                        <input type="password"
                               class="msd-elastic secret password-field form-control"
                               ng-model="newPassword2">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="updatePassword(currentPassword, newPassword1, newPassword2, ownerPass, $hide)">Confirm</button>
                    <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
                </div>


            </div>
        </div>
    </form>
</div>