<div ng-controller="PassChangeController"
     class="sign-in-wrapper padded-top100">

    <div class="sign-in">

        <div class="login-pannel">
            <form novalidate>

                <div class="alert alert-danger" ng-show="message">{{ message }}</div>

                <div class="alert alert-success" ng-show="sent">
                    Email with the reset link has been sent to your email.
                    The link is valid for the next 60 minutes.
                </div>

                <div class="padded-bottom">
                    <h3>Password Reset</h3>
                </div>

                <input type="password"
                       ng-model="password"
                       class="form-control input-lg"
                       placeholder="New password" required autofocus>

                <input type="password"
                       ng-model="password2"
                       class="form-control input-lg"
                       placeholder="Confirm new password" required>


                <div class="padded-top">
                    <button class="btn btn-lg btn-primary btn-block"
                            ng-disabled="disableBtns"
                            ng-click="savePassword()">Save new password</button>
                </div>
            </form>
        </div>

    </div>
</div>